* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.icon-container {
  display: inline-block;
  width: 25px;
  height: 25px;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: inherit;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;
  height: 100%;
}

header {
  grid-column: 1 / -1;
  background-color: #c38d9e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 24px;
}

header .logo {
  font-size: 4.5rem;
  letter-spacing: 1.85px;
  display: flex;
  gap: 1.2rem;
}

nav {
  grid-row: 2 / -1;
  background-color: #ffffff;
}

nav > div {
  margin: 6px 0;
}

nav h1 {
  color: rgba(0, 0, 0, 0.459);
  font-size: 1.56rem;
  margin: 6px;
  letter-spacing: 0.12rem;
}

nav button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
  width: 100%;
  transition: all 0.07s;
}

nav .filters {
  margin: 6px 12px;
}

nav .filters button {
  display: flex;
  align-items: center;
  gap: 14px;
}

nav .filters button:hover {
  transform: translateX(15px);
  background-color: rgba(238, 238, 238, 0.549);
}

nav .filters button:active {
  background-color: #eeeeee;
}

nav .filters button.active {
  transform: translateX(15px);
  background-color: #eeeeee;
  border-left: 3px solid black;
  padding-left: 17px;
}
nav .hr {
  display: inline-block;
  height: 2.459px;
  background-color: #eeeeee;
  width: 100%;
  margin: 20px 0 14px 0;
}

nav .lists {
  position: relative;
  margin: 6px 12px;
  max-height: 230px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

nav .list-items {
  max-height: 195px;
  overflow-y: auto;
  overflow-x: hidden;
}

nav .lists button {
  display: flex;
}

nav .lists .list-item:hover {
  transform: translateX(10px);
  padding-right: 10px;
}

nav .lists .list-item:active {
  background-color: rgba(238, 238, 238, 0.549);
}

nav .lists button.active {
  transform: translateX(10px);
  background-color: #eeeeee;
  border-left: 3px solid black;
  padding-left: 17px;
}

nav .lists .list-item {
  font-size: 1.75rem;
}

nav .lists .create-list-item {
  font-size: 1.35rem;
  background-color: #c38d9e;
  color: white;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
}

nav .lists .create-list-item:hover {
  opacity: 0.85;
}

nav .lists .create-list-item:active {
  background-color: #ffffff;
  border-color: #c38d9e;
  color: #c38d9e;
}

.current-screen {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  margin: 20px;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 9px;
  position: relative;
}

.current-screen .current-screen-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  margin: 5px;
}

.current-screen .todo-items {
  list-style-type: none;
  display: grid;
  gap: 10px;
  max-height: 380px;
  height: 380px;
  overflow-y: auto;
}

.current-screen .todo-items .todo-item {
  display: flex;
  background-color: #eee;
  height: 60px;
  border-radius: 9px;
}

.todo-item .marker-label-container {
  position: relative;
  width: 50px;
}

.todo-item .marker-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  width: 25px;
  height: 25px;
}

.todo-item .marker-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.todo-item .marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #ffffff;
}

.todo-item .marker-container:hover input ~ .marker {
  background-color: #ccc;
}

.todo-item .marker-container input:checked ~ .marker {
  background-color: green;
}

.todo-item .marker-container .marker::after {
  content: "";
  position: absolute;
  display: none;
}

.todo-item .marker-container input:checked ~ .marker::after {
  display: block;
}

.todo-item .marker-container .marker::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todo-item [data-done="false"] {
}

.todo-item [data-done="true"] {
}

.todo-item .todo-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-left: 8px;
  user-select: none;
  cursor: pointer;
}

.todo-item .todo-details:hover {
  background-color: rgba(182, 175, 175, 0.567);
}

.todo-item .todo-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.todo-item .todo-date-view {
  font-size: .8em;
}

.todo-item .priority {
  width: 12px;
  background-color: red;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.current-screen .add-task {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid blue;
  background-color: blue;
  color: white;
  padding: 8px;
  font-weight: bold;
}

.current-screen .add-task:hover {
  background-color: rgba(0, 0, 255, 0.567);
  border-color: rgba(0, 0, 255, 0.567);
}

.current-screen .add-task:active {
  color: blue;
  background-color: white;
}
